<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>关务云单证处理平台</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap32/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/common.css" rel="stylesheet" />
    <link href="~/css/superfish.css" rel="stylesheet" />
    <script src="~/js/jquery-1.8.2.min.js"></script>
    <script src="~/Content/bootstrap32/js/bootstrap.min.js"></script>
    <script src="~/js/hoverIntent.js"></script>
    <script src="~/js/superfish.js"></script>
    <link href="~/Content/iconfont/iconfont.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div style="margin:5px 0px">
            <img src="~/Images/fld_logo.png" />
            <div class="fr" style="font-size:12px">
                @if (ViewBag.IfLogin)
                {
                    <i class="icon iconfont">&#xe611;</i><span>当前用户：@Html.Action("CurrentUser", "Common")</span>
                    <a style="cursor:pointer" href="/Account/SignOut"><i class="icon iconfont">&#xe602;</i><span>退出</span></a>
                }
                else
                {
                    <a style="cursor:pointer" href="/Account/Login"><i class="icon iconfont">&#xe62d;</i><span>登录</span></a>
                }

            </div>
        </div>
    </div>
    <div style=" background-color: #363c64; width: 100%">
        <div class="container">
            <ul class="sf-menu" id="na_menu" style="font-size:14px">
                @Html.Action("Header", "Home")
            </ul>
            <div style="width: 100%; text-align: right; margin-top:7px; font-size: 14px; color: #fff">@Html.Raw(ViewBag.navigator)</div>
        </div>
    </div>
    <div>
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
       
        @RenderSection("scripts", required: false)
    </div>
    <div style="background-color: #363c64; height: 70px;">
        <div class="container">
            <table class="table" style="margin-bottom:0px;">
                <tr>
                    <td rowspan="2" style="width: 25%; color: #fbfbfb; border-top: 0px">
                        <span class="icon iconfont iconsize showtip1">&#xe608;</span>
                        <span class="icon iconfont iconsize showtip2">&#xe64d;</span>
                        <span class="icon iconfont iconsize showtip3">&#xe60a;</span>
                    </td>
                    <td style="border-top: 0px">
                        <a class="footer">关于我们</a>
                        <a class="footer">用户协议</a>
                        <a class="footer">法律声明</a>
                        <a class="footer" href="/FrequentInfor/DownList">常用下载</a>
                        <a class="footer">意见反馈</a>
                        <a class="footer">网站地图</a>
                    </td>
                    <td rowspan="2" style="width: 25%; color: #fbfbfb;border-top:0px">
                        <!--
                        <span class="icon iconfont iconsize">&#xe600;</span><span>0512-57313261</span>
                            -->
                    </td>
                </tr>
                <tr>
                    <td align="center"><span class="footer">苏ICP备05048421号</span></td>
                </tr>
            </table>

        </div>
    </div>

    <!--右侧悬浮-->
    <script src="~/js/OutJs/top.js"></script>
    <link href="~/Content/outindex/float.css" rel="stylesheet" />
    <div class="floating_ck">
        <div class="kfleft" title="点击查看联系方式"></div>
        <dl>

            <dd class="return">
                <span onclick="gotoTop();return false;">返回顶部</span>
            </dd>
            <dd class="consult">
                <span>QQ</span>
                <div class="floating_left  floating_ewm2">
                    <p class="qrcord_p01">扫描或点击下方二维码<br></p>
                    <p class="qrcord_p02"><b>加入我们的QQ群<b></p>
                    <a href="#"><img src="/Images/float/erweima.png" /></a>
                    <p class="qrcord_p02"><b><b></p>
                </div>
            </dd>
            <!--
            <dd class="words">
                <span>在线留言</span>
                <div class="floating_left"><a href="http://sc.chinaz.com">问题在线留言</a></div>
            </dd>
            <dd class="quote">
                <span>索要报价</span>
                <div class="floating_left"><a href="http://sc.chinaz.com">索要产品报价表</a></div>
            </dd>
                -->
            <dd class="qrcord">
                <span>微信</span>
                <div class="floating_left floating_ewm">
                    <i></i>
                    <p class="qrcord_p01">扫一扫<br>关注微信</p>
                    <p class="qrcord_p02"><b><b></p>
                </div>
            </dd>

        </dl>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {

            $(".kfleft").click(function () {
                var i = $(".floating_ck").css("right");
                if (i == '2px') {
                    $('.floating_ck').animate({ right: -82 }, 200);
                    $(".kfleft").css("background", "url(/images/float/zk.png) no-repeat");
                } else {
                    $('.floating_ck').animate({ right: 2 }, 200);
                    $(".kfleft").css("background", "url(/images/float/sq.png) no-repeat");
                }
            });

            $('#na_menu').superfish({
            });

            $(function () {
                $(".showtip1").popover({
                    trigger: 'manual',
                    placement: 'top',
                    title: '<div style="text-align:center; color:red; text-decoration:underline; font-size:12px;"> 点击或扫描二维码<br>联系我们</div>',
                    html: 'true', //needed to show html of course
                    content: '<div id="popOverBox" align="center"><img src="/Images/float/qq.jpg" /></div>',
                    animation: false
                }).on("mouseenter", function () {
                    var _this = this;
                    $(this).popover("show");
                    $(this).siblings(".popover").on("mouseleave", function () {
                        $(_this).popover('hide');
                    });
                }).on("mouseleave", function () {
                    var _this = this;
                    setTimeout(function () {
                        if (!$(".popover:hover").length) {
                            $(_this).popover("hide")
                        }
                    }, 100);
                });


                $(".showtip2").popover({
                    trigger: 'manual',
                    placement: 'top',
                    title: '<div style="text-align:center; color:red; text-decoration:underline; font-size:12px;">扫描二维码，关注我们</div>',
                    html: 'true', //needed to show html of course
                    content: '<div id="popOverBox" align="center"><img src="/Images/float/erweima.png" /></div>',
                    animation: false
                }).on("mouseenter", function () {
                    var _this = this;
                    $(this).popover("show");
                    $(this).siblings(".popover").on("mouseleave", function () {
                        $(_this).popover('hide');
                    });
                }).on("mouseleave", function () {
                    var _this = this;
                    setTimeout(function () {
                        if (!$(".popover:hover").length) {
                            $(_this).popover("hide")
                        }
                    }, 100);
                });


                $(".showtip3").popover({
                    trigger: 'manual',
                    placement: 'top',
                    title: '<div style="text-align:center; color:red; text-decoration:underline; font-size:14px;"> 微博</div>',
                    html: 'true', //needed to show html of course
                    content: '<div id="popOverBox"></div>',
                    animation: false
                }).on("mouseenter", function () {
                    var _this = this;
                    $(this).popover("show");
                    $(this).siblings(".popover").on("mouseleave", function () {
                        $(_this).popover('hide');
                    });
                }).on("mouseleave", function () {
                    var _this = this;
                    setTimeout(function () {
                        if (!$(".popover:hover").length) {
                            $(_this).popover("hide")
                        }
                    }, 100);
                });
            });

        });
    </script>
</body>

</html>
