@model MvcPlatform.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>关务云单证处理平台</title>
    <script src="~/js/jquery-1.8.2.min.js"></script>
    <link href="~/Content/bootstrap32/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/bootstrap32/js/bootstrap.min.js"></script>
    <link href="~/Content/outindex/OutIndex.css" rel="stylesheet" />
    <link href="~/css/iconfont/iconfont.css" rel="stylesheet" />
    <!--[if lt IE 9]>
        <script src="~/js/OutJs/html5shiv.min.js"></script>
        <script src="~/js/OutJs/respond.min.js"></script>
            <style>
            #header .header-nav-main nav > ul > li.dropdown-mega > .dropdown-menu {
        border-radius: 4px; width: auto;left: 0px;  right: 0px;/*background-color:rgba(255, 255, 255, 0.80);*/
        background-color:#FFFFFF;filter:alpha(opacity=80); -moz-opacity:0.8;  -khtml-opacity: 0.8;  opacity: 0.8;
    }
            </style>
        <![endif]-->
    
</head>
<body>
    <div id="header">
        <div class="container">
            <div style="margin:25px 0px">
                <img src="~/Images/fld_logo.png" />
                <div class="header-nav-main">
                    <nav>
                        <ul class="nav nav-pills" id="mainNav">
                            <li><a href="/OutHome/Index" target="_self">首页</a></li>
                            <li class="dropdown dropdown-mega">
                                <a class="dropdown-toggle" href="/products/">
                                    单证服务<i class="iconfont" style="font-family: FontAwesome; font-size: 16px; position: absolute; ">&#xe604;</i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="container dropdown-mega-content">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <span class="dropdown-mega-sub-title font-18">单证处理</span>
                                                    <hr style="height: 1px; border: none; border-top: 2px solid gray; margin-bottom: 5px !important; margin-top: 5px !important;" />
                                                    <ul class="dropdown-mega-sub-nav">
                                                        <li>
                                                            <a href="/products/ydh/" class="font-16">
                                                                <i class="iconfont" style="font-size: 16px;">&#xe607;</i>
                                                                专业
                                                            </a>
                                                            <p style="padding-left: 12px">我们有超过20年的单证处理经验，能够应对与解决各类复杂，疑难单证</p>
                                                        </li>
                                                        <li>
                                                            <a href="/products/ysc/" class="font-16">
                                                                <i class="iconfont" style="font-size: 16px;">&#xe607;</i>
                                                                快速
                                                            </a>
                                                            <p style="padding-left: 12px">我们有健全的系统，熟练的操作人员，能够确保通关速度非比寻常</p>
                                                        </li>
                                                        <li>
                                                            <a href="/products/ysc/" class="font-16">
                                                                <i class="iconfont" style="font-size: 16px;">&#xe607;</i>
                                                                高效
                                                            </a>
                                                            <p style="padding-left: 12px">我们有精确的后台运行，能够保障效能产生的最大化</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-3">
                                                    <span class="dropdown-mega-sub-title font-18">文档处理</span>
                                                    <hr style="height: 1px; border: none; border-top: 2px solid gray; margin-bottom: 5px !important; margin-top: 5px !important; " />
                                                    <ul class="dropdown-mega-sub-nav">
                                                        <li>
                                                            <a href="/products/yxd/" class="font-16">
                                                                <i class="iconfont" style="font-size: 16px;">&#xe607;</i>
                                                                文件存放
                                                            </a>
                                                            <p style="padding-left: 12px">规范有序</p>
                                                        </li>
                                                        <li>
                                                            <a href="/products/xszs/" class="font-16">
                                                                <i class="iconfont" style="font-size: 16px;">&#xe607;</i>
                                                                文件调阅
                                                            </a>
                                                            <p style="padding-left: 12px">快捷方便</p>
                                                        </li>
                                                        <li>
                                                            <a href="/products/dsy/" class="font-16">
                                                                <i class="iconfont" style="font-size: 16px;">&#xe607;</i>
                                                                保管标准
                                                            </a>
                                                            <p style="padding-left: 12px">接近A类企业</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-3">
                                                    <span class="dropdown-mega-sub-title font-18">修撤单处理</span>
                                                    <hr style="height: 1px; border: none; border-top: 2px solid gray; margin-bottom: 5px !important; margin-top: 5px !important; " />
                                                    <ul class="dropdown-mega-sub-nav">
                                                        <li>
                                                            <a href="/products/b2b2c/" class="font-16">
                                                                <i class="iconfont" style="font-size: 16px;">&#xe607;</i>
                                                                因为专业，所以做的更好
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-3">
                                                    <span class="dropdown-mega-sub-title font-18">卡口监管处理</span>
                                                    <hr style="height: 1px; border: none; border-top: 2px solid gray; margin-bottom: 5px !important; margin-top: 5px !important; " />
                                                    <ul class="dropdown-mega-sub-nav">
                                                        <li>
                                                            <a href="/products/b2b2c/" class="font-16">
                                                                <i class="iconfont" style="font-size: 16px;">&#xe607;</i>
                                                                放行更快，风险更低
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-mega ">
                                <a class="dropdown-toggle" href="/solutions/">
                                    资讯动态<i class="iconfont" style="font-family: FontAwesome; font-size: 16px; position: absolute; ">&#xe604;</i>
                                </a>
                                <ul class="dropdown-menu by-full-width">
                                    <li>
                                        <div class="container dropdown-mega-content">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <span class="dropdown-mega-sub-title text-light font-18">公司新闻</span>
                                                    <hr style="height: 1px; border: none; border-top: 2px solid gray; margin-bottom: 5px !important; margin-top: 5px !important; " />
                                                    <ul class="dropdown-mega-sub-nav">
                                                        <li>
                                                            <a href="/solutions/ls/" class="font-16">
                                                                <i class="iconfont" style="font-size: 16px;">&#xe607;</i>
                                                                关务云单证处理平台于2016年5月上线
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="/solutions/pf/" class="font-16">
                                                                <i class="iconfont" style="font-size: 16px;">&#xe607;</i>
                                                                飞力达：德州仪器万里挑一赞“义缘”
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="/solutions/bhsc/" class="font-16">
                                                                <i class="iconfont" style="font-size: 16px;">&#xe607;</i>
                                                                江苏省货代协会会长至飞力达参观指导
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="/solutions/fx/" class="font-16">
                                                                <i class="iconfont" style="font-size: 16px;">&#xe607;</i>
                                                                飞力达被南京海关纳入AA类管理企业
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-4">
                                                    <span class="dropdown-mega-sub-title text-light font-18">政策法规</span>
                                                    <hr style="height: 1px; border: none; border-top: 2px solid gray; margin-bottom: 5px !important; margin-top: 5px !important; " />
                                                    <ul class="dropdown-mega-sub-nav">
                                                        <li>
                                                            <a href="/solutions/nznc/" class="font-16">
                                                                <i class="iconfont" style="font-size: 16px;">&#xe607;</i>
                                                                海关总署2016年第56号公告（海关总署关于《商务部 海关总署2016年第45号公告》执行有关问题的公告
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="/solutions/my/" class="font-16">
                                                                <i class="iconfont" style="font-size: 16px;">&#xe607;</i>
                                                                海关总署公告2016年第57号（关于跨境电子商务进口统一版信息化系统企业接入事宜的公告）
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="/solutions/jz/" class="font-16">
                                                                <i class="iconfont" style="font-size: 16px;">&#xe607;</i>
                                                                海关总署公告2016年第53号（关于海关特殊监管区域（保税监管场所）原产地管理系统上线运行事宜的公告
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="/solutions/fz/" class="font-16">
                                                                <i class="iconfont" style="font-size: 16px;">&#xe607;</i>
                                                                海关总署公告2016年第52号（关于各优惠贸易安排项下经港澳中转进口货物单证提交事宜的公告）
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="/solutions/kxp/" class="font-16">
                                                                <i class="iconfont" style="font-size: 16px;">&#xe607;</i>
                                                                完善海关稽查制度 优化海关监管与服务
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-4">
                                                    <span class="dropdown-mega-sub-title text-light font-18">行业动态</span>
                                                    <hr style="height: 1px; border: none; border-top: 2px solid gray; margin-bottom: 5px !important; margin-top: 5px !important; " />
                                                    <ul class="dropdown-mega-sub-nav">
                                                        <li>
                                                            <a href="/solutions/kj/" class="font-16">
                                                                <i class="iconfont" style="font-size: 16px;">&#xe607;</i>
                                                                企业可任选海关现场申报纳税
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="/solutions/sqo2o/" class="font-16">
                                                                <i class="iconfont" style="font-size: 16px;">&#xe607;</i>
                                                                第三批自贸区总体方案近期将获批
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="/solutions/nc/" class="font-16">
                                                                <i class="iconfont" style="font-size: 16px;">&#xe607;</i>
                                                                河南省人民政府办公厅关于加快建设国际贸易“单一窗口”的意见
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="/solutions/qyng/" class="font-16">
                                                                <i class="iconfont" style="font-size: 16px;">&#xe607;</i>
                                                                企业内购电商
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-mega ">
                                <a class="dropdown-toggle" href="/solutions/">
                                    常用信息<i class="iconfont" style="font-family: FontAwesome; font-size: 16px; position: absolute; ">&#xe604;</i>
                                </a>
                                <ul class="dropdown-menu by-full-width">
                                    <li>
                                        <div class="container dropdown-mega-content">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <span class="dropdown-mega-sub-title text-light font-18">常用代码</span>
                                                    <hr style="height: 1px; border: none; border-top: 2px solid gray; margin-bottom: 5px !important; margin-top: 5px !important; " />
                                                    <ul class="dropdown-mega-sub-nav">
                                                        <li>
                                                            <a href="/products/ydh/" class="font-16">
                                                                <i class="iconfont" style="font-size: 16px;">&#xe607;</i>
                                                                海关代码
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="/products/ysc/" class="font-16">
                                                                <i class="iconfont" style="font-size: 16px;">&#xe607;</i>
                                                                国检代码
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="/products/ysc/" class="font-16">
                                                                <i class="iconfont" style="font-size: 16px;">&#xe607;</i>
                                                                空运代码
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-6">
                                                    <span class="dropdown-mega-sub-title text-light font-18">工具下载</span>
                                                    <hr style="height: 1px; border: none; border-top: 2px solid gray; margin-bottom: 5px !important; margin-top: 5px !important; " />
                                                    <ul class="dropdown-mega-sub-nav">
                                                        <li>
                                                            <a href="/products/yxd/" class="font-16">
                                                                <i class="iconfont" style="font-size: 16px;">&#xe607;</i>
                                                                推荐使用浏览器
                                                            </a>
                                                            <p class="mb-none color-999" style="padding-left: 12px">谷歌浏览器->IE9(32位)->IE9(64位)</p>
                                                        </li>
                                                        <li>
                                                            <a href="/products/xszs/" class="font-16">
                                                                <i class="iconfont" style="font-size: 16px;">&#xe607;</i>
                                                                PDF打印预览工具
                                                            </a>
                                                            <p class="mb-none color-999" style="padding-left: 12px">ADOBE ACROBAT、ADOBE READER</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="/OutHome/About"><span>关于我们</span></a></li>
                            <li>
                                <a href="" target="_blank" style="    border: 1px solid;    border-radius: 4px;    margin: 8px 0px 0px;    padding-top: 2px;    padding-bottom: 2px;    border-color: rgb(248, 180, 0);
                                                    background-color: rgb(248, 180, 0);    color: rgb(255,255,255); height:30px;">
                                    <i class="iconfont" style="font-size: 16px;">&#xe70a;</i> 注册
                                </a>
                            </li>
                            @*<li>
                                <a href="/Account/OutLogin" target="_blank" style=" border: 1px solid; border-radius: 4px; margin: 8px 0px 0px; padding-top: 2px; padding-bottom: 2px; border-color: rgb(248, 180, 0); background-color: rgb(255,255,255); color: rgb(248,180,0); height: 30px;">
                                    <i class="iconfont" style="font-size: 16px;">&#xe61d;</i> 登录
                                </a>
                            </li>*@
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div style="min-height: 657px; margin-top: 100px; background-image: url('/Images/outlogin.jpg')">
        <div style="border: 1px solid #ffffff; float: right; width: 350px; padding: 50px 50px 42px 50px; margin: 175px 360px 30px 40px; background-color: #ffffff">
            <form action="/Account/OutLogin?ReturnUrl=@ViewBag.ReturnUrl" method="post">
                <label for="user_name">登录名</label>
                <div class="input-group" style="margin-bottom: 20px">
                    <span class="input-group-addon icon iconfont">&#xe61d;</span>
                    @Html.TextBoxFor(u => u.NAME, new { @class = "form-control" })
                </div>
                <label for="password">登录密码</label>
                <div class="input-group">
                    <span class="input-group-addon icon iconfont">&#xe65e;</span>
                    @Html.PasswordFor(u => u.PASSWORD, new { @class = "form-control" })
                </div>
                <div style="line-height:35px">
                    <label style="color:red" id="validate">
                        @Html.ValidationMessageFor(u => u.NAME)
                        @Html.ValidationMessageFor(u => u.PASSWORD)
                        @Html.ValidationMessage("ERROR")
                    </label>
                </div>
                <button type="submit" id='btn_login' class="btn btn-primary btn-group-justified">登录</button>
            </form>
        </div>
    </div>


        
            <div style="text-align: center; margin: 2px 0px 0px 0px; font-size: 13px;padding:20px">
                <p>关于我们 合作伙伴 营销中心 联系客服 诚征英才 联系我们 网站地图 法律声明© 2016 feili.com 版权所有</p>
                <p>&copy; Copyright 2015 - 2016. 江苏飞力达国际物流股份有限公司 版权所有 | 苏ICP备05048421号</p>
            </div>
</body>
</html>
