@model IDictionary<string, System.Data.DataTable>
@{
    string type = "";
    int count = 0;
    string AdminUrl = System.Configuration.ConfigurationManager.AppSettings["AdminUrl"];
}

@{
    Layout = "~/Views/Shared/_Layout_home.cshtml";
}
<style>
    .carousel-indicators .active {
        background-color: rgb(52, 152, 219);
        border: 1px solid rgb(52, 152, 219);
    }
    .carousel-indicators li {
        border: 1px solid rgb(52, 152, 219);
    }
</style>
<div class="carousel slide" id="carousel-595514" data-ride="carousel">
    <ol class="carousel-indicators">

        @for (int i = 0; i < Model["dt_banner"].Rows.Count; i++)
        {
            if (i == 0)
            {
               <li class="active" data-slide-to="0" data-target="#carousel-595514"></li>

            }
            else
            {
                 <li data-slide-to="@i" data-target="#carousel-595514"></li>
            }
        }
        @*<li class="active" data-slide-to="0" data-target="#carousel-595514">
        </li>
        <li data-slide-to="1" data-target="#carousel-595514">
        </li>
        <li data-slide-to="2" data-target="#carousel-595514">
        </li>*@
    </ol>
    <div class="carousel-inner">
        @*<div class="item active">
            <img src="/Images/1.jpg" alt="" />
        </div>
        <div class="item">
            <img src="/Images/2.png" alt="" />
        </div>
        <div class="item">
            <img src="/Images/3.jpg" alt="" />
        </div>*@

        @for (int i = 0; i < Model["dt_banner"].Rows.Count; i++)
        {
            if (i == 0)
            {
             <div class="item active">
                 <img src="@Html.Raw(AdminUrl + Model["dt_banner"].Rows[i]["IMGURL"])" alt="" />
            </div>
            }
            else
            { 
            <div class="item">
                <img src="@Html.Raw(AdminUrl + Model["dt_banner"].Rows[i]["IMGURL"])" alt="" />
           </div>  
            }
        }
    </div>
</div>

<!---TAB-->
<script src="~/js/OutJs/zxdt.js"></script>
<link href="~/Content/outindex/zxdt.css" rel="stylesheet" />
<div class="lanrenzhijia">
    <div class="title cf">
        <h2 class="fl">资讯动态</h2>
        <ul class="title-list fr cf ">
            @for (int i = 0; i < Model["dt_type"].Rows.Count; i++)
            {
                if (i == 0)
                {
                    <li class="on">@Model["dt_type"].Rows[i]["type"]</li>
                }
                else
                {
                    <li>@Model["dt_type"].Rows[i]["type"]</li>
                }
            }
            <p><b></b></p>
        </ul>
    </div>
    <div class="product-wrap">
        @if (Model["dt_notice"].Rows.Count > 0)
        {
            type = Model["dt_notice"].Rows[0]["type"].ToString();
        }   
        <div class="product showfirst">
            <div class="topRec_List">
            <div class="maquee">
                <ul>
                    @for (; count < Model["dt_notice"].Rows.Count; count++)
                        {
                            if (type != Model["dt_notice"].Rows[count]["type"].ToString())
                            {
                               type = Model["dt_notice"].Rows[count]["type"].ToString();
                               @Html.Raw("</ul></div></div></div><div class='product'><div class='topRec_List'><div class='maquee'><ul>");
                            }
                        <li onclick=shownotice(@Model["dt_notice"].Rows[count]["id"])>
                            <div>@Model["dt_notice"].Rows[count]["title"]</div>
                            <div>@Model["dt_notice"].Rows[count]["publishdate"].ToString()</div>
                        </li>                           
                       }
                    </ul>
                </div>
            </div>
        </div>
        <div class="more">
            <a href="/Home/IndexNotice_M">更多<i class="iconfont" style="font-size: 16px;">&#xe61f;</i></a>
        </div>
        
    </div>

</div>
<script type="text/javascript">
    function shownotice(id) {
        //window.location.href = "/Home/IndexNoticeDetail?id=" + id;
        window.open("/Home/IndexNoticeDetail?id=" + id);
    }

    /***滚动
    function autoScroll(obj) {
        $(obj).find("ul").animate({
            marginTop: "-39px"
        }, 500, function () {
            $(this).css({ marginTop: "0px" }).find("li:first").appendTo(this);
        })
    }
    $(function () {
        setInterval('autoScroll(".maquee")', 3000);
        setInterval('autoScroll(".apple")', 2000);

    })
    */
</script>


<link href="~/Content/outindex/zhongjian.css" rel="stylesheet" />
<link href="~/Content/outindex/zhongjian2.css" rel="stylesheet" />
<link href="~/Content/outindex/zhongjian3.css" rel="stylesheet" />
<link href="~/Content/outindex/zhongjian4.css" rel="stylesheet" />


@*中间层*@
<div class="index-accordion">

    <p class="font-30" style="text-align:center;">服务赢得尊重</p>
    <p class="font-30" style="text-align: center; color: #ff6600;">
        <i class="iconfont" style="font-size: 24px;">&#xe616;</i>
        <i class="iconfont" style="font-size: 24px; ">&#xe616;</i>
        <i class="iconfont" style="font-size: 24px; ">&#xe616;</i>
        <i class="iconfont" style="font-size: 24px; ">&#xe616;</i>
        <i class="iconfont" style="font-size: 24px; ">&#xe616;</i>
    </p>

    <div class="flash4">
        <ul id="accordion">
            <li class="bor-red" id="haokuaiji" style="width: 534px;">
                @*<p class="p-mid">新手上路</p>*@<p class="p-mid"></p>
                <div class="imgfl">
                    <h2 style="color:red;">新手上路</h2>
                    <a href="#" target="_blank">
                        <div class="icon-img ydh-img"></div>
                    </a>
                    <p>各系统演示，以简单易懂的方式展示具体功能模块，解决初次操作的困扰</p>
                </div>
                <div class="imgfr appear-animation fadeInDown appear-animation-visible">
                    <h3 class="fz14">新手上路常用步骤：</h3>
                    <p class="p-tit"><i class="iconfont" style="font-size: 16px;">&#xe607;</i> 登录账号：</p>
                    <p class="mb-txt font-12">公司及个人账号，支持主次账号切换使用，提高系统效能</p>
                    <p class="p-tit"><i class="iconfont" style="font-size: 16px;">&#xe607;</i> 订单中心：</p>
                    <p class="mb-txt font-12">全网独有的业务类型分类，帮助下单者高效录入，提升工作效率</p>
                    <p class="p-tit"><i class="iconfont" style="font-size: 16px;">&#xe607;</i>报关展示：</p>
                    <p class="mb-txt font-12">订单数据、报关信息、文件打印…完美贴合需要</p>
                </div>
                <div id="accountantFunction" class="btn-sy mt-xlg center">
                    <a href="" target="_blank" class="btn btn-default btn-orange btn-md btn-radius fz12">更多详情</a>
                </div>
            </li>
            <li class="bor-g" id="haoshengyi" style="width: 248px;">
                @*<p class="p-mid">常见问题</p>*@<p class="p-mid"></p>
                <div class="imgfl">
                    <h2 style="color:red;">常见问题</h2>
                    <a href="#" target="_blank">
                        <div class="icon-img ysc-img"></div>
                    </a>
                    <p>
                        针对性解决进出遇到的问题
                    </p>
                </div>
                <div class="fr imgfr  appear-animation fadeInDown appear-animation-visible">
                    <h3 class="fz14">常见问题简要介绍：</h3>
                    <p class="p-tit"><i class="iconfont" style="font-size: 16px;">&#xe607;</i> 忘记密码：</p>
                    <p class="mb-txt font-12">在主账号的账号管理中，子账号选项卡初始化密码为登录账号</p>
                    <p class="p-tit"><i class="iconfont" style="font-size: 16px;">&#xe607;</i> 订单维护：</p>
                    <p class="mb-txt font-12">委托类型、经营单位、客户编号必须输入</p>
                    <p class="p-tit"><i class="iconfont" style="font-size: 16px;">&#xe607;</i>订单委托：</p>
                    <p class="mb-txt font-12">订单委托时，需要上传随附文件</p>
                </div>
                <div class="btn-sy mt-xlg center"> <a href="#" target="_blank" class="btn btn-default btn-orange btn-md btn-radius fz12">更多详情</a> </div>
            </li>
            <li class="bor-g" id="workGroup" style="width: 248px;">
                @*<p class="p-mid">业务流程</p>*@<p class="p-mid"></p>
                <div class="imgfl">
                    <h2 style="color:red;">业务流程</h2>
                    <a href="#" target="_blank">
                        <div class="icon-img bbc-img"></div>
                    </a>
                    <p>
                        委托流程、异常流程等
                    </p>
                </div>
                <div class="fr imgfr appear-animation fadeInDown appear-animation-visible">
                    <h3 class="fz14">业务流程简要介绍：</h3>
                    <p class="p-tit"><i class="iconfont" style="font-size: 16px;">&#xe607;</i> 委托信息流程：</p>
                    <p class="mb-txt font-12">订单还未委托，可以随时修改；委托后，只能修改为空的项目</p>
                    <p class="p-tit"><i class="iconfont" style="font-size: 16px;">&#xe607;</i> 撤单流程：</p>
                    <p class="mb-txt font-12">订单委托后，若订单状态任在已委托，则可以撤单，否则需要联系客服人员</p>
                    <p class="p-tit"><i class="iconfont" style="font-size: 16px;">&#xe607;</i> 复制新增流程：</p>
                    <p class="mb-txt font-12">复制新增会自动带出主要项目，其他项目还需手动维护</p>
                </div>
                <div class="btn-sy mt-xlg center"> <a href="#" target="_blank" class="btn btn-default btn-orange btn-md btn-radius fz12">更多详情</a> </div>
            </li>
            <li class="fast bor-g" id="crm" style="width: 248px;">
                @*<p class="p-mid">预约培训</p>*@<p class="p-mid"></p>
                <div class="imgfl">
                    <h2 style="color:red;">预约培训</h2>
                    <a href="#" target="_blank">
                        <div class="icon-img yxd-img"></div>
                    </a>
                    <p>
                        系统培训预约
                    </p>
                </div>
                <div class="fr imgfr appear-animation fadeInDown appear-animation-visible">
                    <h3 class="fz14">系统培训预约简介：</h3>
                    <p class="p-tit"><i class="iconfont" style="font-size: 16px;">&#xe607;</i>订单委托：</p>
                    <p class="mb-txt font-12">订单委托项目说明</p>
                    <p class="p-tit"><i class="iconfont" style="font-size: 16px;">&#xe607;</i>报关报检：</p>
                    <p class="mb-txt font-12">
                        文件查看、单笔或多笔打印文件<br>
                    </p>
                </div>
                <div class="btn-sy mt-xlg center"> <a href="#" target="_blank" class="btn btn-default btn-orange btn-md btn-radius fz12">更多详情</a> </div>
            </li>
        </ul>
    </div>
</div>
<script src="~/js/OutJs/bxslider.js"></script>
<script type="text/javascript">
    //手风琴切换
    var $list = $("#accordion li"),
            isSameLi = function (e, t) {
                return e.attr("id").indexOf(t.attr("id")) == -1 ? !1 : !0
            },
            expandsCommon = function (e) {
                lastLeaveLi && (isSameLi(e, lastLeaveLi) || hideCommon(lastLeaveLi)), $this = e, $this.stop().animate({
                    width: "534px"
                }, 500, function () {
                    $(".imgfr", e).stop(!0, !0).show(), $(".btn-sy", e).stop(!0, !0).fadeIn()
                }).removeClass("bor-g").addClass("bor-red"), $("#accordion > li").each(function () {
                    var t = $(this);
                    isSameLi(e, t) || hideCommon(t)
                })
            },
            hideCommon = function (e) {
                $this = e, $this.stop().animate({
                    width: "248px"
                }, 1e3).removeClass("bor-red").addClass("bor-g"), $(".imgfr", e).stop(!0, !0).hide(), $(".btn-sy", e).stop(!0, !0).fadeOut()
            },
            lastLeaveLi = undefined;
    $(function () {
        expandsCommon($("#accordion > li:first")), $("#accordion > li").hover(function () {
            var e = $(this);
            expandsCommon(e)
        }, function () {
            lastLeaveLi = $(this)
        })
    });
</script>



@*常用信息*@
<link href="~/Content/outindex/changyong.css" rel="stylesheet" />
<link href="~/Content/outindex/changyong2.css" rel="stylesheet" />

<div class="" style="position: relative; height:380px">
    
    <div style="border-bottom: 1px solid #ccc; width: 1276px; margin: 0 auto;">
        <p style="font-size: 20px; font-family: microsoft yahei; color: rgb(52, 152, 219); font-weight: 800; ">常用查询</p>
    </div>

    <div class="servicesPop">
        <div id="serFocus">
            <div class="fr" style="position:relative;"><a href="javascript:void(0)" class="close" onclick="closeSerPop()">&nbsp;</a></div>
            <div class="box" id="flash1">
                <div class="title-bar"><i class="icon-truck"></i>基础信息</div>
                <div class="serTit">
                    <div class="ir_25"><a href="/FrequentInfor/BaseCommodityHS"><img src="/images/changyong/tip1.png"><p>HS编码</p></a></div>
                    <div class="ir_25"><a href="/FrequentInfor/BaseInspHS"><img src="/images/changyong/tip2.png"><p>国检代码</p></a></div>
                    <div class="ir_25"><a href="#"><img src="/images/changyong/tip1.png"><p>空运代码</p></a></div>
                    <div class="ir_25"><a href="#"><img src="/images/changyong/tip1.png"><p>白卡号</p></a></div>
                </div>
            </div>
            <div class="box" id="flash2">
                <div class="title-bar"><i class="icon-truck"></i>物流信息</div>
                <div class="serTit">
                    <div class="ir_25"><a href="#"><img src="/images/changyong/tip5.png"><p>航空信息</p></a></div>
                    <div class="ir_25"><a href="#"><img src="/images/changyong/tip6.png"><p>通关信息</p></a></div>
                    <div class="ir_25"><a href="#"><img src="/images/changyong/tip7.png"><p>船舶信息</p></a></div>
                    <div class="ir_25"><a href="#"><img src="/images/changyong/tip5.png"><p>陆运信息</p></a></div>
                    <div class="ir_25"><a href="#"><img src="/images/changyong/tip8.png"><p>企业信息</p></a></div>
                </div>
            </div>
            <div class="box" id="flash3">
                <div class="title-bar"><i class="icon-truck"></i>作业单信息</div>
                <div class="serTit">
                    <div class="ir_25"><a href="#"><img src="/images/changyong/tip9.png"><p>作业单状态</p></a></div>
                    <div class="ir_25"><a href="#"><img src="/images/changyong/tip10.png"><p>订单跟踪</p></a></div>
                </div>
            </div>
            <div class="box" id="flash4">
                <div class="title-bar"><i class="icon-truck"></i>其他信息</div>
                <div class="serTit">
                    <div class="ir_25"><a href="/FrequentInfor/DownList"><img src="/images/changyong/tip13.png"><p>常用下载</p></a></div>
                    <div class="ir_25"><a href="#"><img src="/images/changyong/tip14.png"><p>汇率转换</p></a></div>
                    <div class="ir_25"><a href="#"><img src="/images/changyong/tip15.png"><p>模拟关税</p></a></div>
                    <div class="ir_25"><a href="#"><img src="/images/changyong/tip16.png"><p>单位转换</p></a></div>
                    <div class="ir_25"><a href="#"><img src="/images/changyong/tip9.png"><p>预录入卡</p></a></div>
                    <div class="ir_25"><a href="#"><img src="/images/changyong/tip10.png"><p>3C证书</p></a></div>
                    <div class="ir_25"><a href="#"><img src="/images/changyong/tip11.png"><p>进口许可</p></a></div>
                    <div class="ir_25"><a href="#"><img src="/images/changyong/tip12.png"><p>免表办理</p></a></div>
                </div>
            </div>
        </div>
        <div class="flash_bar">
            <span class="no" id="f1" onclick="changeflash(1)"></span>
            <span class="no" id="f2" onclick="changeflash(2)"></span>
            <span class="no" id="f3" onclick="changeflash(3)"></span>
            <span class="no" id="f4" onclick="changeflash(4)"></span>
        </div>
    </div>

    <div id="servicesBox">
        <div id="serBox1" class="serBox" onclick="serFocus(1)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng"><i class="iconfont" style="font-size: 105px;">&#xe630;</i></div>
            <div class="pic2 mypng"><i class="iconfont" style="font-size: 105px; color:#007AFD;">&#xe630;</i></div>
            <div class="txt1"><span class="tit">基础信息</span>HS编码，国检编码，白卡号信息的查询</div>
            <div class="txt2"><span class="tit">基础信息</span>HS编码，国检编码，白卡号信息的查询</div>
        </div>
        <div class="fgH20"></div>
        <div id="serBox2" class="serBox" onclick="serFocus(2)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng"><i class="iconfont" style="font-size: 105px;">&#xe660;</i></div>
            <div class="pic2 mypng"><i class="iconfont" style="font-size: 105px; color:#007AFD;">&#xe660;</i></div>
            <div class="txt1"><span class="tit">物流信息</span>船舶动态，航空动态，陆运信息的跟踪查询</div>
            <div class="txt2"><span class="tit">物流信息</span>船舶动态，航空动态，陆运信息的跟踪查询</div>
        </div>
        <div class="fgH20"></div>
        <div id="serBox3" class="serBox" onclick="serFocus(3)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng"><i class="iconfont" style="font-size: 105px;">&#xe668;</i></div>
            <div class="pic2 mypng"><i class="iconfont" style="font-size: 105px; color:#007AFD;">&#xe668;</i></div>
            <div class="txt1"><span class="tit">作业单信息</span>企业委托订单的进度跟踪查询，报关报检查询</div>
            <div class="txt2"><span class="tit">作业单信息</span>企业委托订单的进度跟踪查询，报关报检查询</div>
        </div>
        <div class="fgH20"></div>
        <div id="serBox4" class="serBox" onclick="serFocus(4)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng"><i class="iconfont" style="font-size: 105px;">&#xe606;</i></div>
            <div class="pic2 mypng"><i class="iconfont" style="font-size: 105px; color:#007AFD;">&#xe606;</i></div>
            <div class="txt1"><span class="tit">其他信息</span>常用工具下载，汇率，预录办理的相关信息</div>
            <div class="txt2"><span class="tit">其他信息</span>常用工具下载，汇率，预录办理的相关信息</div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $(".serBox").hover(function () {
            $(this).children().stop(false, true);
            $(this).children(".serBoxOn").fadeIn("slow");
            $(this).children(".pic1").animate({ right: -110 }, 400);
            $(this).children(".pic2").animate({ left: 105 }, 400);
            $(this).children(".txt1").animate({ left: -240 }, 400);
            $(this).children(".txt2").animate({ right: 40 }, 400);
        }, function () {
            $(this).children().stop(false, true);
            $(this).children(".serBoxOn").fadeOut("slow");
            $(this).children(".pic1").animate({ right: 105 }, 400);
            $(this).children(".pic2").animate({ left: -110 }, 400);
            $(this).children(".txt1").animate({ left: 20 }, 400);
            $(this).children(".txt2").animate({ right: -240 }, 400);
        });

    });

    function serFocus(i) {
        $(".servicesPop").slideDown("normal");
        changeflash(i);
    }
    function closeSerPop() {
        $(".servicesPop").slideUp("fast");
    }

    var currentindex = 1;
    function changeflash(i) {
        currentindex = i;
        for (j = 1; j <= 6; j++) {
            if (j == i) {
                $("#flash" + j).fadeIn("normal");
                $("#flash" + j).css("display", "block");
                $("#f" + j).removeClass();
                $("#f" + j).addClass("dq");
            } else {
                $("#flash" + j).css("display", "none");
                $("#f" + j).removeClass();
                $("#f" + j).addClass("no");
            }
        }
    }
</script>