@model IDictionary<string, System.Data.DataTable>

@{
    ViewBag.Title = "BaseCommodityHSDetail";
    Layout = "~/Views/Shared/_Layout_home.cshtml";
}
@{
    System.Data.DataRow dr_HSDetail = null;
    if (Model["dt_CommodityHSDetail"].Rows.Count > 0)
    {
        dr_HSDetail = Model["dt_CommodityHSDetail"].Rows[0];
    }
}

<div class="container" style="min-height: 600px;margin-top:1px">
    <table border="0" cellspacing="0" cellpadding="0" style="text-align:center; line-height:28px;">
        <tr style="text-align: left; border-bottom: 2px solid;">
            <td colspan="8">
                <font color="rgb(52,152,219)" size="3">商品详情</font>
            </td>
        </tr>
        <tr style="border-bottom: 1px solid gray;">
            <td width="100px">商品编号</td>
            <td width="680px">商品名称</td>
            <td width="120px">计量单位</td>
            <td width="80px">最惠率</td>
            <td width="60px">普通</td>
            <td width="80px">出口退税</td>
            <td width="120px">海关监管</td>
            <td width="120px">检验规范</td>
        </tr>

@if (dr_HSDetail!=null)
{
        <tr>
            <td>@dr_HSDetail["HSCODEEXTRACODE"]</td>
            <td>@dr_HSDetail["NAME"]</td>
            <td>@dr_HSDetail["LEGALUNITNAME"]</td>
            <td>@dr_HSDetail["FAVORABLERATE"]</td>
            <td>@dr_HSDetail["GENERALRATE"]</td>
            <td>@dr_HSDetail["EXPORTREBATRATE"]</td>
            <td>@dr_HSDetail["VATRATE"]</td>
            <td>@dr_HSDetail["CUSTOMREGULATORY"]</td>
        </tr>
}
        <tr style="height:100px"></tr>
        <tr style="text-align: left; border-bottom: 2px solid;">
            <td colspan="8">
                <font color="rgb(52,152,219)" size="3">申报要素</font>
            </td>
        </tr>
        <tr>
            <td colspan="8" style="text-align:left;">
                @dr_HSDetail["ELEMENTS"]
            </td>
        </tr>
        <tr style="height:100px"></tr>
        <tr style="text-align: left; border-bottom: 2px solid;">
            <td colspan="8">
                <font color="rgb(52,152,219)" size="3">监管条件</font>
            </td>
        </tr>
        <tr>
            <td colspan="8" style="text-align:left;">
                @Html.Raw(dr_HSDetail["CUSTOMREGULATORY"].ToString() == "" ? "无" : dr_HSDetail["CUSTOMREGULATORY"].ToString())
            </td>
        </tr>
        <tr style="height:100px"></tr>
        <tr>
            <td colspan="8">
                <div style="border-top-width:1px; border-top-color:gray; border-top-style:dashed; height:5px;"></div>
                <input id="Button1" type="button" value="返回" style="width:100px" />
            </td>
        </tr>
    </table>
</div>
